.mule/plugins-tmp/org.mule.tooling.ui.contribution.splunk.3.5.3_1.0.1.201606061115/__schema/mule-splunk.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:ns2="http://www.mulesoft.org/schema/mule/devkit" xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/splunk" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="config-type">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation></xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element type="mule:poolingProfileType" minOccurs="0" name="connection-pooling-profile">
              <xs:annotation>
                <xs:documentation>Characteristics of the connection pool.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" ref="mule:abstract-reconnection-strategy">
              <xs:annotation>
                <xs:documentation>Reconnection strategy that defines how Mule should handle a connection failure.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>Give a name to this configuration so it can be later referenced by config-ref.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="required" name="host">
            <xs:annotation>
              <xs:documentation>The Splunk Host</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="required" name="port">
            <xs:annotation>
              <xs:documentation>The Splunk Port</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="required" name="username">
            <xs:annotation>
              <xs:documentation>A username</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="required" name="password">
            <xs:annotation>
              <xs:documentation>A password</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-applicationsType" substitutionGroup="mule:abstract-message-processor" name="get-applications">
    <xs:annotation>
      <xs:documentation>List Applications</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Get-applicationsType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-jobsType" substitutionGroup="mule:abstract-message-processor" name="get-jobs">
    <xs:annotation>
      <xs:documentation>Get Jobs</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Get-jobsType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Run-blocking-searchType" substitutionGroup="mule:abstract-message-processor" name="run-blocking-search">
    <xs:annotation>
      <xs:documentation>Runs a blocking search, which will wait for completion on the splunk server and return synchronously.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Run-blocking-searchType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="search-args">
            <xs:annotation>
              <xs:documentation>The map of search arguments, described in the splunk documentation.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="search-arg">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute type="xs:string" use="optional" name="value-ref"></xs:attribute>
                          <xs:attribute type="xs:string" name="key"></xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"></xs:any>
                </xs:sequence>
              </xs:choice>
              <xs:attribute type="xs:string" use="optional" name="ref">
                <xs:annotation>
                  <xs:documentation>The reference object for this parameter</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="searchQuery">
          <xs:annotation>
            <xs:documentation>The search query</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Run-one-shot-searchType" substitutionGroup="mule:abstract-message-processor" name="run-one-shot-search">
    <xs:annotation>
      <xs:documentation>Run a basic oneshot search and display results NOTE: XML output appears to be the only supported type right now.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Run-one-shot-searchType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="args">
            <xs:annotation>
              <xs:documentation>Optional map of arguments to pass to the search.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="arg">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute type="xs:string" use="optional" name="value-ref"></xs:attribute>
                          <xs:attribute type="xs:string" name="key"></xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"></xs:any>
                </xs:sequence>
              </xs:choice>
              <xs:attribute type="xs:string" use="optional" name="ref">
                <xs:annotation>
                  <xs:documentation>The reference object for this parameter</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="searchQuery">
          <xs:annotation>
            <xs:documentation>The search query</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="earliestTime">
          <xs:annotation>
            <xs:documentation>The earliest time</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="latestTime">
          <xs:annotation>
            <xs:documentation>The latest time</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-saved-searchesType" substitutionGroup="mule:abstract-message-processor" name="get-saved-searches">
    <xs:annotation>
      <xs:documentation>Retrieve and list the saved searches in the saved search collection.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Get-saved-searchesType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="app">
          <xs:annotation>
            <xs:documentation>Optional the name of the App to restrict the namespace of the list of saved searches to</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="owner">
          <xs:annotation>
            <xs:documentation>Optional the owner of the namespace to restrict the list of saved searches by</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Create-saved-searchType" substitutionGroup="mule:abstract-message-processor" name="create-saved-search">
    <xs:annotation>
      <xs:documentation>Create a saved search.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Create-saved-searchType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="search-args">
            <xs:annotation>
              <xs:documentation>A Map of Key-Value Arguments for the saved search. See the Splunk documentation for details.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="search-arg">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute type="xs:string" use="optional" name="value-ref"></xs:attribute>
                          <xs:attribute type="xs:string" name="key"></xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"></xs:any>
                </xs:sequence>
              </xs:choice>
              <xs:attribute type="xs:string" use="optional" name="ref">
                <xs:annotation>
                  <xs:documentation>The reference object for this parameter</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="searchName">
          <xs:annotation>
            <xs:documentation>The name of the search</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="searchQuery">
          <xs:annotation>
            <xs:documentation>The query</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="View-saved-search-propertiesType" substitutionGroup="mule:abstract-message-processor" name="view-saved-search-properties">
    <xs:annotation>
      <xs:documentation>View the properties of the saved search</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="View-saved-search-propertiesType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="searchName">
          <xs:annotation>
            <xs:documentation>The name of the search</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="app">
          <xs:annotation>
            <xs:documentation>The Optional App to restrict the namespace</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="owner">
          <xs:annotation>
            <xs:documentation>The Optional Owner to restrict the namespace</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Modify-saved-search-propertiesType" substitutionGroup="mule:abstract-message-processor" name="modify-saved-search-properties">
    <xs:annotation>
      <xs:documentation>Modify the properties of the saved search</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Modify-saved-search-propertiesType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="search-properties">
            <xs:annotation>
              <xs:documentation>The map of search properties to apply</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="search-property">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute type="xs:string" use="optional" name="value-ref"></xs:attribute>
                          <xs:attribute type="xs:string" name="key"></xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"></xs:any>
                </xs:sequence>
              </xs:choice>
              <xs:attribute type="xs:string" use="optional" name="ref">
                <xs:annotation>
                  <xs:documentation>The reference object for this parameter</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="searchName">
          <xs:annotation>
            <xs:documentation>The name of the search</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-saved-search-historyType" substitutionGroup="mule:abstract-message-processor" name="get-saved-search-history">
    <xs:annotation>
      <xs:documentation>Modify the Saved Search Properties</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Get-saved-search-historyType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="searchName">
          <xs:annotation>
            <xs:documentation>(Optional) The name of the search</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="app">
          <xs:annotation>
            <xs:documentation>(Optional) The application namespace for the saved search</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="owner">
          <xs:annotation>
            <xs:documentation>(Optional) The owner of the namespace for the saved search</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Run-saved-searchType" substitutionGroup="mule:abstract-message-processor" name="run-saved-search">
    <xs:annotation>
      <xs:documentation>Run the saved Search</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Run-saved-searchType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="searchName">
          <xs:annotation>
            <xs:documentation>The name of the search</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Run-saved-search-with-argumentsType" substitutionGroup="mule:abstract-message-processor" name="run-saved-search-with-arguments">
    <xs:annotation>
      <xs:documentation>Run a saved search with run-time arguments</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Run-saved-search-with-argumentsType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="custom-args">
            <xs:annotation>
              <xs:documentation>Custom Arguments, Optional list of custom arguments to supply</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="custom-arg">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute type="xs:string" use="optional" name="value-ref"></xs:attribute>
                          <xs:attribute type="xs:string" name="key"></xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"></xs:any>
                </xs:sequence>
              </xs:choice>
              <xs:attribute type="xs:string" use="optional" name="ref">
                <xs:annotation>
                  <xs:documentation>The reference object for this parameter</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="searchName">
          <xs:annotation>
            <xs:documentation>The name of the search</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="searchDispatchArgs-ref">
          <xs:annotation>
            <xs:documentation>Optional list of search dispatch arguments</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Delete-saved-searchType" substitutionGroup="mule:abstract-message-processor" name="delete-saved-search">
    <xs:annotation>
      <xs:documentation>Delete the Specified saved Search</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Delete-saved-searchType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="searchName">
          <xs:annotation>
            <xs:documentation>The name of the search</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-data-modelType" substitutionGroup="mule:abstract-message-processor" name="get-data-model">
    <xs:annotation>
      <xs:documentation>Get an individual data model</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Get-data-modelType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="dataModelName">
          <xs:annotation>
            <xs:documentation>the name of the data model to get</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-data-modelsType" substitutionGroup="mule:abstract-message-processor" name="get-data-models">
    <xs:annotation>
      <xs:documentation>Get all data models</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Get-data-modelsType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-inputsType" substitutionGroup="mule:abstract-message-processor" name="get-inputs">
    <xs:annotation>
      <xs:documentation>Get Inputs returns an InputCollection of possible inputs to use with Splunk</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Get-inputsType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Create-inputType" substitutionGroup="mule:abstract-message-processor" name="create-input">
    <xs:annotation>
      <xs:documentation>Creates an Input with a given identifier and kind</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Create-inputType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="args">
            <xs:annotation>
              <xs:documentation>An Optional Key-Value Map of Properties to set</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="arg">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute type="xs:string" use="optional" name="value-ref"></xs:attribute>
                          <xs:attribute type="xs:string" name="key"></xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"></xs:any>
                </xs:sequence>
              </xs:choice>
              <xs:attribute type="xs:string" use="optional" name="ref">
                <xs:annotation>
                  <xs:documentation>The reference object for this parameter</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="inputIdentifier">
          <xs:annotation>
            <xs:documentation>The name of the domain controller</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="kind-ref">
          <xs:annotation>
            <xs:documentation>The InputKind</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Modify-inputType" substitutionGroup="mule:abstract-message-processor" name="modify-input">
    <xs:annotation>
      <xs:documentation>Modifies an input with the properties supplied.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Modify-inputType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="input-args">
            <xs:annotation>
              <xs:documentation>The map of properties to update</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="input-arg">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute type="xs:string" use="optional" name="value-ref"></xs:attribute>
                          <xs:attribute type="xs:string" name="key"></xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"></xs:any>
                </xs:sequence>
              </xs:choice>
              <xs:attribute type="xs:string" use="optional" name="ref">
                <xs:annotation>
                  <xs:documentation>The reference object for this parameter</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="inputIdentifier">
          <xs:annotation>
            <xs:documentation>A Splunk Input to modify.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-inputType" substitutionGroup="mule:abstract-message-processor" name="get-input">
    <xs:annotation>
      <xs:documentation>Retrieves an Input with the given identifier</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Get-inputType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="inputIdentifier">
          <xs:annotation>
            <xs:documentation>The identifier, for example a file path if it is a Monitor Input</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-indexesType" substitutionGroup="mule:abstract-message-processor" name="get-indexes">
    <xs:annotation>
      <xs:documentation>Retrieves a collection of indexes based on the criteria provided</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Get-indexesType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="collection-parameters">
            <xs:annotation>
              <xs:documentation>Optional Map of additional arguments to pass to the call</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="collection-parameter">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute type="xs:string" use="optional" name="value-ref"></xs:attribute>
                          <xs:attribute type="xs:string" name="key"></xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"></xs:any>
                </xs:sequence>
              </xs:choice>
              <xs:attribute type="xs:string" use="optional" name="ref">
                <xs:annotation>
                  <xs:documentation>The reference object for this parameter</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="sortKey">
          <xs:annotation>
            <xs:documentation>The Key to sort by</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/splunk" type="SortDirectionEnumType" use="optional" name="sortDirection">
          <xs:annotation>
            <xs:documentation>The SortDirection to sort by</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Create-indexType" substitutionGroup="mule:abstract-message-processor" name="create-index">
    <xs:annotation>
      <xs:documentation>Creates an Index with optional arguments</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Create-indexType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="args">
            <xs:annotation>
              <xs:documentation>Optional key-value pairs of arguments to apply on creation</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="arg">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute type="xs:string" use="optional" name="value-ref"></xs:attribute>
                          <xs:attribute type="xs:string" name="key"></xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"></xs:any>
                </xs:sequence>
              </xs:choice>
              <xs:attribute type="xs:string" use="optional" name="ref">
                <xs:annotation>
                  <xs:documentation>The reference object for this parameter</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="indexName">
          <xs:annotation>
            <xs:documentation>The name of the index to create</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Modify-indexType" substitutionGroup="mule:abstract-message-processor" name="modify-index">
    <xs:annotation>
      <xs:documentation>Modifies an index with the properties supplied.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Modify-indexType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="index-args">
            <xs:annotation>
              <xs:documentation>The map of properties to update</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="index-arg">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute type="xs:string" use="optional" name="value-ref"></xs:attribute>
                          <xs:attribute type="xs:string" name="key"></xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"></xs:any>
                </xs:sequence>
              </xs:choice>
              <xs:attribute type="xs:string" use="optional" name="ref">
                <xs:annotation>
                  <xs:documentation>The reference object for this parameter</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="indexName">
          <xs:annotation>
            <xs:documentation>A Splunk Index to modify.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-indexType" substitutionGroup="mule:abstract-message-processor" name="get-index">
    <xs:annotation>
      <xs:documentation>Retrieves an Index with the given identifier</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Get-indexType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="indexIdentifier">
          <xs:annotation>
            <xs:documentation>The identifier of the index</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Clean-indexType" substitutionGroup="mule:abstract-message-processor" name="clean-index">
    <xs:annotation>
      <xs:documentation>Clean the index, which removes all events from it</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Clean-indexType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="indexName">
          <xs:annotation>
            <xs:documentation>The name of the index to clean</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/splunk" type="integerType" use="optional" default="180" name="maxSeconds">
          <xs:annotation>
            <xs:documentation>Optional how long to wait, -1 is forever (not recommended on a Connector). Default is 180s</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Add-data-to-indexType" substitutionGroup="mule:abstract-message-processor" name="add-data-to-index">
    <xs:annotation>
      <xs:documentation>Add data to an index without an input, using HTTP to submit a string</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Add-data-to-indexType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="index-args">
            <xs:annotation>
              <xs:documentation>Optional map of arguments to apply to the update</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="index-arg">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute type="xs:string" use="optional" name="value-ref"></xs:attribute>
                          <xs:attribute type="xs:string" name="key"></xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"></xs:any>
                </xs:sequence>
              </xs:choice>
              <xs:attribute type="xs:string" use="optional" name="ref">
                <xs:annotation>
                  <xs:documentation>The reference object for this parameter</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="indexName">
          <xs:annotation>
            <xs:documentation>The name of the index to update</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="stringData">
          <xs:annotation>
            <xs:documentation>The data string to send</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Add-data-to-tcp-inputType" substitutionGroup="mule:abstract-message-processor" name="add-data-to-tcp-input">
    <xs:annotation>
      <xs:documentation>Add data to a Tcp Input</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Add-data-to-tcp-inputType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="portNumber">
          <xs:annotation>
            <xs:documentation>The port number to send data on</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="stringData">
          <xs:annotation>
            <xs:documentation>The data to send</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Add-data-to-udp-inputType" substitutionGroup="mule:abstract-message-processor" name="add-data-to-udp-input">
    <xs:annotation>
      <xs:documentation>Add data to a Udp Input</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Add-data-to-udp-inputType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="portNumber">
          <xs:annotation>
            <xs:documentation>The port number to send data on</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="stringData">
          <xs:annotation>
            <xs:documentation>The data to send</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Remove-inputType" substitutionGroup="mule:abstract-message-processor" name="remove-input">
    <xs:annotation>
      <xs:documentation>Remove an input</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Remove-inputType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="inputIdentifier">
          <xs:annotation>
            <xs:documentation>the identifier, for example the port number</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Remove-indexType" substitutionGroup="mule:abstract-message-processor" name="remove-index">
    <xs:annotation>
      <xs:documentation>Remove an index</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Remove-indexType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="indexName">
          <xs:annotation>
            <xs:documentation>The name of the index to remove</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Run-normal-searchType" substitutionGroup="mule:abstract-inbound-endpoint" name="run-normal-search">
    <xs:annotation>
      <xs:documentation>Run a normal search, which polls for completion. Results will be streamed via a SourceCallback.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Run-normal-searchType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractInboundEndpointType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="search-args">
            <xs:annotation>
              <xs:documentation>The search properties</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="search-arg">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute type="xs:string" use="optional" name="value-ref"></xs:attribute>
                          <xs:attribute type="xs:string" name="key"></xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:sequence>
                  <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"></xs:any>
                </xs:sequence>
              </xs:choice>
              <xs:attribute type="xs:string" use="optional" name="ref">
                <xs:annotation>
                  <xs:documentation>The reference object for this parameter</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="searchQuery">
          <xs:annotation>
            <xs:documentation>The search Query</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Run-real-time-searchType" substitutionGroup="mule:abstract-inbound-endpoint" name="run-real-time-search">
    <xs:annotation>
      <xs:documentation>Run a realtime search and process the response returns via a sourcecallback</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Run-real-time-searchType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractInboundEndpointType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="searchQuery">
          <xs:annotation>
            <xs:documentation>The query to run in realtime</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="rt" name="earliestTime">
          <xs:annotation>
            <xs:documentation>The start time for the realtime search</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="rt" name="latestTime">
          <xs:annotation>
            <xs:documentation>The latest time for the realtime search</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/splunk" type="integerType" use="optional" default="300" name="statusBuckets">
          <xs:annotation>
            <xs:documentation>the status buckets to use - defaults to 300</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/splunk" type="integerType" use="optional" default="100" name="previewCount">
          <xs:annotation>
            <xs:documentation>the number of previews to retrieve - defaults to 100</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/splunk" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Run-export-searchType" substitutionGroup="mule:abstract-inbound-endpoint" name="run-export-search">
    <xs:annotation>
      <xs:documentation>Run an export search, which streams results</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Run-export-searchType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractInboundEndpointType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="searchQuery">
          <xs:annotation>
            <xs:documentation>the search query to run</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="-1h" name="earliestTime">
          <xs:annotation>
            <xs:documentation>The earliest time to search from, default is -1h</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="now" name="latestTime">
          <xs:annotation>
            <xs:documentation>The latest time to search to, default is now</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SortDirectionEnumType">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ASC">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DESC">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="OnNoTokenPolicyEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="EXCEPTION"></xs:enumeration>
          <xs:enumeration value="STOP_FLOW"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="integerType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:integer"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="decimalType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:decimal"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="floatType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:float"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="doubleType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:double"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="dateTimeType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:dateTime"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="longType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:long"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="byteType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:byte"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="booleanType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:boolean"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="anyUriType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:anyURI"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="charType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"></xs:minLength>
          <xs:maxLength value="1"></xs:maxLength>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>